<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>forgot-password feature</title>
  </head>
  <body>
    <nav>
      <div class="content">
        <div class="rightlink"><a href="/login">Login</a></div>
        <div class="rightlink"><a href="/register">Register</a></div>
      </div>
    </nav>
    <main>
      <section>
        <h1>Welcome to the landing page of RESET/FOGOT PASWORD website</h1>
        <h2>
          Create an account so that you become eligible for utilizing the forgot
          password feature
        </h2>
      </section>
    </main>
  </body>
</html>
